@font-face {
  font-family: "iconfont"; /* Project id 4146316 */
  src: url('iconfont.woff2?t=1691659537459') format('woff2'),
       url('iconfont.woff?t=1691659537459') format('woff'),
       url('iconfont.ttf?t=1691659537459') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moduanzhankai:before {
  content: "\eb10";
}

.icon-moduanzuoyouzhankai:before {
  content: "\eb11";
}

.icon-jurassic_table:before {
  content: "\e6ac";
}

.icon-datareport:before {
  content: "\e62f";
}

.icon-hebingbanqun:before {
  content: "\e641";
}

.icon-zhuti_tiaosepan_o:before {
  content: "\eb6e";
}

.icon-xuanzhuan:before {
  content: "\e607";
}

.icon-changdukuandu:before {
  content: "\eb75";
}

.icon-fenjiexian_dividing-line:before {
  content: "\e6fb";
}

.icon-guolv:before {
  content: "\e6bf";
}

.icon-guolv-copy:before {
  content: "\e854";
}

.icon-split:before {
  content: "\e650";
}

.icon-sum:before {
  content: "\e853";
}

.icon-hashjinghao:before {
  content: "\e6da";
}

.icon-daxie:before {
  content: "\e624";
}

.icon-shujuku:before {
  content: "\e685";
}

